{% extends 'investigaciones/layout.html' %}

{% block content %}

<ul class="collection with-header">
  <li class="collection-header grey lighten-3"><h4>{{titulo}}</h4></li>

  {% for investigacion in investigaciones %}
    <li class="collection-item"><a class="collection-item" href="/papers/details/{{paper.id}}">{{investigacion.titulo}}  <label style="float:right;">{{investigacion.autor}}</label> </a></li>

  {% endfor %}

</ul>

<br>
<div class="row ">
  <div class="col s5 "><a style="display:block" class="center-align waves-effect waves-light btn col s6" href="/create">Nueva investigacion</a></div>
</div>
<div class="row">
  <div class="col s1">
    <a style="display:block" class="center-align" href="/admin">Admin Login</a>
  </div>
</div>

{% endblock %}
