<!DOCTYPE html>
<html lang="en">
<head>
  <title>Investigaciones cientificas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Investigaciones cientificas</a>
    </div>
    <ul class="nav navbar-nav">
      
     
      <li><a href="/cientifica_investigacion/CC/">Ciencias Computacionales</a></li>
       <li><a href="/cientifica_investigacion/CT/">Ciencias de la Tierra</a></li>
       <li><a href="/cientifica_investigacion/CN/">Ciencias Naturales</a></li>
       <li><a href="/cientifica_investigacion/CS/">Ciencias Sociales</a></li>
       <li><a href="/cientifica_investigacion/CM/">Ciencias Medicas</a></li>
    </ul>
  </div>
</nav>
  
<header class="container center-align">
      <h1 class="center-align red lighten-4" style="border-radius: 50px; padding: 10px;">Investigaciones cientificas</h1>
    </header>
    
    <div class="container">
      {% block content %}
      {% endblock %}
      

</body>
</html>
